@import '../main.scss';

#root, .app-wrapper, html, body {
    height: 100%;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app {
    align-self: center;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    max-width: 800px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

::placeholder {
    color: $gray;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $gray;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: $gray;
}

button {
    border: $border;
    font-family: inherit;
    color: $black;
    background: $white;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
        cursor: default;
        opacity: 50%;
    }
}

textarea {
    border: $border;
    background: $white;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: inherit;
    height: 8rem;
    border-radius: 0;
}

.settings-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
}

.text-field-label {
    font-weight: bold;
    font-size: 1.5rem;
    background: $white;
    padding: 1rem;
    border: $border;
    border-bottom: none;

    @media (max-width: 350px) {
        font-size: 1rem;
    }
}

.text-field-wrapper, .image-field-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.output-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.text-field, .image-upload-label, .image-output-wrapper {
    width: min(35rem, 100vw - 1rem);
}

.image-field-wrapper {
    margin-bottom: 2rem;
}

.change-image-button {
    position: absolute;
    right: -3px;
    top: 0;
    transform: translateY(calc(-100% - 1rem));

    font-size: 1rem;
    padding: 0.5rem;
}