@import '../main.scss';

.app {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    max-width: 800px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $black;
}

::placeholder {
    color: $gray;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $gray;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: $gray;
}

header {
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.title {
    color: $black;
    font-size: 7rem;
    font-family: $whisper-font;
    margin-bottom: 1rem;
}

.title-evil {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.subtitle {
    text-align: left;
    margin-top: -10px;
}

button {
    border: $border;
    font-family: inherit;
    background: $white;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

    &:disabled {
        cursor: default;
        opacity: 50%;
    }
}

textarea {
    border: $border;
    background: $white;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: inherit;
    height: 8rem;
}

.settings-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
}

.text-field-label {
    font-weight: bold;
    font-size: 1.5rem;
    background: $white;
    padding: 1rem;
    border: $border;
    border-bottom: none;
}

.text-field-wrapper, .image-upload-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.output-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.text-field, .image-upload-label, .image-output-wrapper {
    width: min(35rem, 95vw);
}

.image-upload-label {
    background: $white;
    border: $border;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    color: $gray;
    cursor: pointer;
}

.image-upload {
    display: none;
}

.image-upload-border {
    border: 3px dashed $gray;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
}

.image-output-wrapper {
    background: $white;
    border: $border;
    padding: 0;

    img {
        margin: 0;
        display: block;
    }
}

.image-upload-wrapper {
    margin-bottom: 2rem;
}

.image-output {
    position: relative;
    overflow: hidden;
}

.image-text, .image-text-evil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    
    font-family: 'Whisper';
    color: $white;
    font-size: 4rem;

    @media (max-width: 500px) {
        font-size: 3rem;
    }

    @media (max-width: 350px) {
        font-size: 2.5rem;
    }
}

.image-text-evil {
    color: $black;
    z-index: 2;
}

.image-image {
    z-index: 1;
}